# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Node
spa/node_modules/
spa/dist/

# OS
.DS_Store
Thumbs.db

# Database files
*.db
*.dat
database.dat
/data/
*.mv.db
*.trace.db

# Mail credentials
src/main/resources/mail.properties

# Logs
*.log
